{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

	{% if user.is_authenticated %}
          <h1>Rango says... Hello {{ user.username }}!</h1>
        {% else %}
          <h1>Rango says... Hello Stranger!</h1>
        {% endif %}

	
	 <!--If categories is passed when the template is called, they will be displayed here -->
         {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <!-- If pages is passed, then display the top 5 pages -->
        {% if pages %}
                <strong>Top 5 most viewed pages</strong>
                <ol>
                  {% for page in pages %}
                  <!-- <li>{{ page.title }}</li> -->
                  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                  {% endfor %}
                </ol>
        {% else %}
                <strong>There are no top viewed pages.</strong>
        {% endif %}

	<p> visits: {{ visits }}</p>
{% endblock %}


